@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.main-heading {
  background: linear-gradient(247.38deg, #d383ee 7.15%, #7a2673 81.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #070707;
}

::-webkit-scrollbar-thumb {
  background: #d461fa64;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d461fa64;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d461fa64 #070707;
}

.gradient-border {
  position: relative;
  border-radius: 33px;
  /* background: linear-gradient(to right, #D461FA, #00000000) border-box;
  -webkit-mask-image: linear-gradient(#fff 0 0);
  mask-image: linear-gradient(#fff 0 0); */
}

.contact-button {
  background: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
}